<div>
  <div class="panel form-panel col-xs-12" ng-click="isCollapsed = !isCollapsed">
    <span class="icon fa-{{icon}}">{{panelName}}</span>
  </div>
  <div uib-collapse="isCollapsed">
    <div class="well well-lg">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>