<div class="container-fluid">
  <div class="col-xs-12">
    <h1 class="text-center logo">health care</h1>
  </div>
  <app-header></app-header>
  <div class="col-md-8 col-md-offset-2 col-xs-12 main-block">
    <div class="container-fluid" style="margin-top:5%;">
      <div class="jumbotron text-center">
        <h2 class="icon fa-user">Личный кабинет</h2>
        <p class="motivation-text">тут должна быть какая-то надпись</p>
        <div class="panel-container">
          <panel panel-name="panelNames.anketPanel" icon="pencil">
            <form>
              <input type="text" class="text" name="name" placeholder="Имя" ng-model="person.name">
              <input type="text" class="text" name="surname" placeholder="Фамилия" ng-model="person.surname">
              <p>Ваш пол:</p>
              <div class="radio">
                <input type="radio" id="genderMan" class="radiob" value="man" checked="" name="gender">
                <label for="genderMan">
                  <p class="goalsFont"> Мужской</p>
                </label>
              </div>
              <div class="radio">
                <input type="radio" id="genderWoman" class="radiob" value="woman" name="gender">
                <label for="genderWoman">
                  <p class="goalsFont"> Женский</p>
                </label>
              </div>
              <input type="password" class="text" name="email" placeholder="Пароль" ng-model="person.email">
              <input type="text" class="text" placeholder="Логин" ng-model="person.login">
              <div class="center-block">
                <select name="Age">
                  <option value="">Ваш возраст</option>
                  <option ng-repeat="i in getNumber(50) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                </select>
              </div>
              <input type="submit" value="Сохранить изменения">
            </form>
          </panel>
        </div>
        <div class="panel-container">
          <panel panel-name="panelNames.parametersPanel" icon="heartbeat">
            <form>
              <input type="checkbox" class="checkbox" id="diabCheckbox" ng-checked="{{person.isDiabetic}}">
              <label for="diabCheckbox">
                <p class="checkPosition">У меня есть диабет</p>
              </label>
              <p class="pull-left"> Ваш рост в СМ:</p>
              <div class="WeightHeight">
                <input type="text" class="text" name="height" placeholder="180" ng-model="person.height">
              </div>
              <br>
              <p class="pull-left">Ваш вес в КГ:</p>
              <div class="WeightHeight">
                <input type="text" class="text" name="weight" placeholder="60.00" ng-model="person.weight">
              </div>
              <input type="submit" value="Сохранить изменения ">
            </form>
          </panel>
        </div>
      </div>
    </div>
  </div>
</div>