<div class="container-fluid">
  <div class="col-xs-12">
    <h1 class="text-center logo">health care</h1>
  </div>
  <app-header></app-header>
  <div class="col-md-8 col-md-offset-2 col-xs-12 main-block">
    <div class="container-fluid" style="margin-top:5%;">
      <div class="jumbotron text-center">
        <h2 class="icon fa-bar-chart">Выберите цель</h2>
        <p class="motivation-text">Ваша цель:</p>
        <form class="center-block" ng-submit="goCreateMenu()">
          <div class="radio">
            <input type="radio" id="loseWeight" class="radiob" value="loseWeight
" ng-model="goal">
            <label for="loseWeight">
              <p class="goalsFont"> Похудеть</p>
            </label>
          </div>
          <div class="radio">
            <input type="radio" id="stayTheSame" class="radiob" value="stayTheSame" ng-model="goal">
            <label for="stayTheSame">
              <p class="goalsFont"> Поддерживать текущий вес</p>
            </label>
          </div>
          <div class="radio">
            <input type="radio" id="riseWeight" class="radiob" value="riseWeight" ng-model="goal">
            <label for="riseWeight">
              <p class="goalsFont"> Набор массы</p>
            </label>
          </div>
          <input type="submit" value="Составить меню">
        </form>
      </div>
    </div>
  </div>
</div>