.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  border-radius: 2px;
  border-color: transparent;
  color: #35b88f;
  background-color: #ffffff;
  padding: 10px 5px;
  margin: 5px;
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: #35b88f;
}


/* Specify styling for tooltip contents */

.tooltip.customClass .tooltip-inner {
  color: #ffffff;
  background-color: #35b88f;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  padding: 10px 20px;
  margin: 3px;
}


/* Hide arrow */

.tooltip.customClass .tooltip-arrow {
  display: none;
}

span.separator {
  color: #35b88f;
}

.productImg {
  // max-height: 150px;
  height: auto;
  width: 100%;
}

tr.tableMenu td {
  vertical-align: middle !important;
}

table tr {
  background-color: #ffffff;
}

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #35b88f;
  margin-top: -6px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}