<div class="container-fluid">
  <div class="col-xs-12">
    <h1 class="text-center logo">health care</h1>
  </div>
  <app-header></app-header>
  <div class="col-md-8 col-md-offset-2 col-xs-12 main-block">
    <div class="container-fluid col-xs-12" style="margin-top:5%;">
      <div class="jumbotron text-center">
        <h2 class="icon fa-cutlery">Вы можете составить меню</h2>
        <p class="text-center">Пожалуйста, дайте название меню:</p>
        <div class="full-width">
          <input type="text" class="text full-width" ng-model="menu.name" placeholder="Название меню">
        </div>
        <p class="text-center">Выберите продукт из списка существующих:</p>
        <ui-select multiple ng-model="menu.productsArray" style="text-align:left;width:100%;margin:0;" class="text">
          <ui-select-match placeholder="Выберите продукты">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="product in products | filter:$select.search">
            {{product.name}}
          </ui-select-choices>
        </ui-select>
        <div ng-if="menu.productsArray.length">
          <h2 class="icon fa-calendar-plus-o"> Вы выбрали: </h2>
          <table class="table">
            <tbody>
              <tr class="tableMenu" ng-repeat="selectProd in menu.productsArray">
                <td>
                  <img class="productImg" ng-src="{{selectProd.image}}">
                </td>
                <td>
                  <p>{{selectProd.name}}</p>
                </td>
                <td>
                  <input type="range" min="0" max="10" ng-model="selectProd.quantity" ng-change="getTotalCalories()" ng-init="getTotalCalories()" uib-tooltip='{{selectProd.quantity*100}} грамм' tooltip-class="customClass">
                </td>
                <td>
                  <i class="fa fa-times-circle fa-2x" ng-click="removeProduct(selectProd)"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <p class="col-xs-4">Общая калиройность</p>
          <p class="col-xs-8" style="text-align:right">{{menu.totalCalories}}<span class="separator">/</span>{{maxCalories}}</p>
          <input type="submit" value="Сохранить меню" ng-click="submitMenu()">
        </div>
      </div>
    </div>
  </div>
</div>