<div class="container-fluid">
  <div class="col-xs-12">
    <h1 class="text-center logo">health care</h1>
  </div>
  <app-header></app-header>
  <div class="col-md-8 col-md-offset-2 col-xs-12 main-block">
    <div class="container-fluid" style="margin-top:5%;">
      <div class="jumbotron text-center">
        <h2 class="icon fa-calendar">Вы можете просмотреть все свои меню</h2>
        <div ng-repeat="menu in menus" class="panel-container">
          <panel panel-name="menu.name">
            <table class="table">
              <tbody>
                <tr class="tableMenu" ng-repeat="selectProd in menu.dishes">
                  <td>
                    <img class="productImg" ng-src="{{selectProd.image}}">
                  </td>
                  <td>
                    <p>{{selectProd.name}}</p>
                  </td>
                  <td style="position:relative;">
                    <input type="range" min="0" max="10" ng-model="selectProd.quantity" uib-tooltip='{{selectProd.quantity*100}} грамм' tooltip-class="customClass customClass2" ng-disabled="true" tooltip-is-open="true">
                  </td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
            <button ng-click="deleteMenu(menu)">Удалить меню</button>
          </panel>
        </div>
      </div>
    </div>
  </div>
</div>