<div>
  <section id="header">
    <header>
      <div class="Center">
        <h1>Health Care</h1>
      </div>
      <p>Мы поможем вам позоботиться о здоровье </p>
    </header>
    <footer>
      <a href="#banner" class="button style2 scrolly-middle" du-smooth-scroll>Продолжить</a>
    </footer>
  </section>

  <!-- Banner -->
  <section id="banner">
    <header>
      <h2>Здоровье - это просто</h2>
    </header>
    <p>Хочешь начать следить за здоровьем, но не знаешь с чего начать?
      <br />
    </p>
    <footer>
      <a href="#first" class="button style2 scrolly" du-smooth-scroll>Мне это интересно</a>
    </footer>
  </section>


  <article id="first" class="container box style1 right">
    <a href="#" class="image fit"><img src="/client/build/images/pic02.png" alt="" /></a>
    <div class="inner">
      <header>
        <h2>Мы вам поможем!<br />
						</h2>
      </header>
      <p>
        <ul>
          <li>С тем-то</li>
          <li>тем-то</li>
          <li>тем-то</li>
        </ul>
      </p>

    </div>

  </article>


  <article class="container box style1 left">
    <a href="#" class="image fit"><img src="/client/build/images/pic02.png" alt="" /></a>
    <div class="inner">
      <header>
        <h2>Наши преимущества:</h2>
      </header>
      <p>
        <ul>
          <li>Такое-то</li>
          <li>Такое-то</li>
          <li>Такое-то</li>
          <li>Такое-то</li>

        </ul>
      </p>
    </div>
  </article>
  <!-- Reg -->
  <article class="container box style3">
    <header>
      <h2>Регистрация</h2>
      <p>Пожалуйста, заполните данные, необходимые для регистрации.</p>
    </header>
    <form ng-submit="register()">
      <div class="row 50%">
        <div class="6u ">
          <input type="text" class="text" name="name" placeholder="Имя" ng-model="person.name" />
          <br>
          <input type="text" class="text" name="surname" placeholder="Фамилия" ng-model="person.surname" />
          <br>
          <p>Укажите ваш пол:</p>
          <input type="radio" id="maleId" class="radiob" value="male" checked name="test" />
          <label for="maleId">
            <p class="checkPosition"> Мужской</p>
          </label>
          <br>
          <input type="radio" id="femaleId" class="radiob" value="female" name="test" />
          <label for="femaleId">
            <p class="checkPosition">Женский</p>
          </label>
          <br>
          <input type="password" class="text" name="email" placeholder="Пароль" ng-model="person.email">
          <br>
          <input type="text" class="text" name="Userslogin" placeholder="Логин" ng-model="person.login" />
          <br>

          <div class="AgeSelect">
            <select name="Age" ng-model="person.age">
              <option value="">Укажите ваш возраст</option>
              <option ng-repeat="i in getNumber(50) track by $index" value="{{$index+1}}">{{$index+1}}</option>
            </select>
          </div>
          <br>
          <input type="checkbox" class="checkbox" id="checkbox" ng-checked="{{person.isDiabetic}}" />
          <label for="checkbox">
            <p class="checkPosition">У меня есть диабет</p>
          </label>
          <br>

          <p> Укажите свой рост в СМ:</p>
          <div class="WeightHeight">
            <input type="text" class="text" name="height" placeholder="180" ng-model="person.height" />
          </div>
          <br>
          <p> Укажите свой вес в КГ:</p>
          <div class="WeightHeight">
            <input type="text" class="text" name="weight" placeholder="60.00" ng-model="person.weight" />
          </div>
          <br>
        </div>
        <br>
        <br>

        <div class="12u$">
          <ul class="actions">
            <li>
              <input type="submit" value="Зарегистрироваться! " />
            </li>
          </ul>

        </div>
    </form>
  </article>

  <section id="footer">
    <ul class="icons">
      <ul class="menu">
        <br> &copy; 2015. All rights reserved . PE-14-5
      </ul>
    </ul>
  </section>
  </div>